@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  transition:
    background-color 0.4s ease,
    color 0.3s ease;
}

/* === MARQUEE (FIXED) === */
.marquee-track {
  display: inline-flex;
  width: max-content;
  animation: marquee 12s linear infinite;
  will-change: transform;
  /* overlay gradient Web3 */
  position: absolute;
  inset: 0;
  z-index: 5;
  background: linear-gradient(135deg,
      /* arah diagonal */
      rgba(124, 58, 237, 0.2) 0%,
      /* from-purple-700/20 */
      rgba(76, 29, 149, 0.95) 50%,
      /* via-purple-900/95 */
      rgba(6, 182, 212, 0.3) 100%
      /* to-cyan-500/30 */
    );
}



@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);


  }
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typingDots {

  0%,
  20% {
    transform: translateY(0);
    opacity: 0.3;
  }

  50% {
    transform: translateY(-3px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0.3;
  }
}

.animate-slideFadeIn {
  animation: slideFadeIn 0.4s ease-out forwards;
}

.animate-typingDot {
  animation: typingDots 1.4s infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}


@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(12px) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.animate-slideInRight {
  animation: slideInRight 0.2s ease-out;
}